/data/.birthday_table
/data/.size_table
/data/notifications/!history
/data/yt_video_sources
.bot_config
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/workspace.xml
